*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color:#81ecec ;
    text-align: center;
    text-transform: uppercase;
    color:#2f3542;
    font-size: 20px;
    
}
table{
    border: 10px solid black;
}
.caption{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: 10px;
    padding-top: 2%;
    padding-bottom: 3%;
    color:#000;
    text-transform: uppercase;
    border: 5px double black;
    border-width: 50%;
    text-align: center;
} 


tr:hover{
    background-color:#ff7f50 ;
}
